.wrapper {
    width: 960px; 
    padding: 20px;
    margin: 0 auto; 

}

h2 {
}


.head {
}


#nameBox{
    background-color: #4aaaa5;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}


